<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="queueSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <queueSettings>
    <add key="ConnectionString" value=""/>
  </queueSettings>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="TraceAppender" />
    </root>

    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
  </log4net>
  
</configuration>